.navbar {
    display: inline;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222223;
    border-radius: 10px 10px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;

}

.navbar li a:hover {
    background-color: #fff;
    color: #222223;
}

body {
    background-color: #abb0ba;
    background-image: url("pineapple.png");
    background-position: bottom right;
    background-size: 50% 50%;
    padding-bottom: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#messages {
    height: 750px;
    overflow: auto;
    max-width: 980px;
}

#messages p {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px 10px;
    max-width: 930px;
}

#topicdisplay {
    position: static;
    text-align: center;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    color: #222223;
    font-weight: bold;
}

.inputfield {
    border-radius: 10px 10px;
    height: auto;
}

.painike {
    background-color: #e7e7e7;
    color: black;
    font-size: 13px;
    border-radius: 10px 10px;
    border: 2px solid black;

}

#aihe {
    font-size: 20px;
    font-weight: bold;

}

.teksti {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 18px;
}

#marq {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 18px;
    position: fixed;
    bottom: 25px;
    text-align: center;
}