<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regural Brothers Running In A Van From An Asteroid And All Sorts Of Things The Chat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            
            
            <input type="text" id="message"/>
            <input type="button" value="Send" onclick="addMessage();"/>
            <script src="chat.js"></script>
        </div>



        
    </body>
</html>
