<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regural Brothers Running In A Van From An Asteroid And All Sorts Of Things The Chat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="chat.js"></script>
    </head>
    <body>
        <div th:fragment="content">
            <div id="messages">
                <p th:each="message: ${messages}" th:text="${message}"></p>
            </div> 

            <textarea rows="3" cols="50" id="message"></textarea>

            <button id="nappi" onclick="send();">Send!</button>

            <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
            <script type="text/javascript" th:inline="javascript">
                        var account = [[${account}]];
                        var accountName = [[${account.username}]];
                        var group = $[[{group}]];
                        var groupId = $[[{group.id}]];

                        var urlPath = window.location.href;



                        var client = Stomp.over(new SockJS('/rek'));
                        client.connect({}, function (frame) {
                            var subscribeTo = '/groups/' + groupId;
                            client.subscribe(subscribeTo, function (response) {
                                displayMessage(JSON.parse(response.body));
                            });
                        });


                        function send() {
                            client.send("chat/messages", {}, JSON.stringify({'content' : $("#message").val(), 'account': account, 'group': group }));
                        }
                        
                        function displayMessage (message) {
                            var old = $("#messages").html();
                            $("#messages").html( '<p>'+ accountName + ": " + message.content + '</p>' + old);
                            $("#message").val('');
                        }


                        

                        window.onbeforeunload = function () {
                            client.disconnect();
                            client.close();
                        }


                    
              
            </script>


        </div>
    </body>
</html>
