<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regural Brothers Running In A Van From An Asteroid And All Sorts Of Things The Chat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h2>Chatit</h2>


            <p th:text="${apu}"></p>

            <ul>
                <li th:each="group : ${groups}">
                    <a th:href="@{groups/{groupId}(groupId=${group.id})}" th:text="${group.topic}">group topic</a>
                </li>
            </ul>


            <div> 
                <form th:action="@{/groups}" method="POST">
                    <table>
                        <tr>
                            <td>Ryhmän aihe:</td>
                            <td><input type="text" name="topic" th:value="${topic}" id="topic"/></td>
                            <!--<td th:if="${#topic.hasErrors('topic')}" th:errors="*{topic}">Aihe ei voi olla tyhjä.</td>-->
                        </tr>
                        <tr>
                            <td><input type="submit" value="Send"/></td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>



    </body>

</html>
