<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regural Brothers Running In A Van From An Asteroid And All Sorts Of Things The Chat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <h2>Kaikki chatit</h2>

            <table>
                <tr th:each="group : ${groups}">
                    <th><a th:href="@{groups/{groupId}(groupId=${group.id})}"  id="aihe" th:text="${group.topic}">group topic</a></th>
                    <td>
                        <form th:action="@{groups/{groupId}(groupId=${group.id})}" method="POST">
                            <input type="submit" class="painike" value="Seuraa"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{groups/{groupId}(groupId=${group.id})}" th:method="DELETE" id="delete">
                            <input type="submit" class="painike" value="Poista"/>
                        </form>
                    </td>
                </tr>
            </table>


            <div> 
                <form th:action="@{/groups}" method="POST">
                    <table>
                        <tr>
                            <td class="teksti">Ryhmän aihe:</td>
                            <td><input type="text" class="inputfield" name="topic" th:value="${topic}" id="topic"/></td>
                            <!--<td th:if="${#topic.hasErrors('topic')}" th:errors="*{topic}">Aihe ei voi olla tyhjä.</td>-->
                        </tr>
                        <tr>
                            <td>
                                <form id="add">
                                    <input type="submit" class="painike" value="Send"/>
                                </form>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>



    </body>

</html>
