<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="base">
    <head>
        <title>Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regural Brothers Running In A Van From An Asteroid And All Sorts Of Things The Chat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}" type="text/css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>


    <body>
        <div class="navbar">
            <ul>
                <li><a th:href="@{/groups}">Kaikki chatit</a></li>
                <li><a th:href="@{/groups/mygroups}">Seuratut chatit</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Kirjaudu ulos</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Kirjaudu sisään</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/reg}">Rekisteröidy</a></li>
            </ul>
        </div>

        <div th:include="this :: content"/>
    </body>
</html>
