<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="index :: base">
    <head>
        <title>Alien Invasion Tomato Monster Mexican Armada Brothers Who Are Just Regural Brothers Running In A Van From An Asteroid And All Sorts Of Things The Chat</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">


            <h3 class="teksti">Kirjaudu sisään</h3><form name='f' action='/login' method='POST'>
                <fieldset>
                    <legend class="teksti">Kirjaudu sisään</legend>
                    <div th:if="${param.error}" class="alert alert-error">    
                        Väärä käyttäjänimi tai salasana!
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success"> 
                        Olet kirjautunut ulos.
                    </div>
                    <label class="teksti" for="username">Käyttäjänimi</label>
                    <input type="text" id="username" class="inputfield" name="username"/>        
                    <label class="teksti" for="password">Salasana</label>
                    <input type="password" class="inputfield" id="password" name="password"/>    
                    <div class="form-actions">
                        <button type="submit" class="painike">Kirjaudu sisään</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </body>
</html>
